ACG_Localizer/build
Bundler/bundle
Bundler/info
Bundler/*/*.a 
Bundler/*/*.so
Bundler/*/*.o
Bundler/*/*/*.o
Bundler/lib
Bundler/bin
Bundler/src
Bundler/prepare
.vscode
ACG_Localizer/flann-1.6.11-src-modified/build
ann_1.1.2/src
ann_1.1.2/sample
